
.Change-butt{
    position: absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    border:1px solid black;
    border-radius:20px;
    box-shadow:5px 5px 5px hsl(0, 0%, 0.1);
    padding:20px;
    margin:10px;
    margin-bottom:40px;

}
.Change-butt .Red-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:red;
    font-size:1rem;

}
.Change-butt .Yellow-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:yellow;
    font-size:1rem;

}
.Change-butt .Black-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:black;
    font-size:1rem;
    color:white;

}
.Change-butt .Purple-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:purple;
    font-size:1rem;

}
.Change-butt .Green-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:green;
    font-size:1rem;

}
.Change-butt .Blue-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:blue;
    font-size:1rem;

}
.Change-butt .Default-button{
    padding:12px 24px;
    border-radius:10px;
    border-radius:1px solid black;
    margin:2px;
    background-color:orange;
    font-size:1rem;

}
