body{
    background-image:url('./assets/back.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    align-items:center;

}
.TopDiv{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:5px solid solid transparent;
    width:550px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:top;
    background-color:aquamarine;
    border-radius:2.5mm;

}
.TopDiv .Name{
    display:flex;
    justify-content:center;
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
    font-weight:bold;
    margin-top:8%;
}
.TopDiv .Input-box{
    display:flex;
    justify-content:center;
    
}