body{
    background-image:url('./assets/back.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    align-items:center;


}
.TopDiv{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:5px solid solid transparent;
    width:550px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgb(12, 240, 252);
    border-radius:2.5mm;
   
}
.TopDiv .subDiv{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-bottom:10%;
}
.TopDiv .Name{
    display:flex;
    justify-content:center;
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
    font-weight:bold;
    margin-top:8%;
    color:whitesmoke;
  
}
.TopDiv .Input-box{

    background-color:#f2f2f2;
    border:none;
    border-radius:5px;
    padding:10px;
    font-size:16px;
    box-sizing: border-box;
    color: #333;
    height:25px;
    cursor:auto;

    &:focus {
        outline: none;
        box-shadow: 0 0 3px 0 rgba(0, 122, 255, 0.5);
      }
}
.Button{
    background-color:blue;
    color:white;
    padding: 7px 15px;
    border:none;
    border-radius: 5px;
    cursor:pointer;


}